<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
      <add key="InstanciaAplicacion" value="Globale Kardamom-Indigo-Gesellschaft"/>
      <add key="Usuario" value="Großer sicherer internationaler Schadstoff"/>
      <add key="UsuarioInstancia" value="Fett-Calculator versucht zu lösen"/>
      <add key="UsuarioSAN" value="Korrupte Regierung beginnt Sanktionen"/>
    </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Prism" publicKeyToken="40ee6c3a2184dc59" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.396" newVersion="7.0.0.396" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGCIS" maxReceivedMessageSize="30000000"/>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://servweb4/WSGCISQAS/GCIS.svc" binding="basicHttpBinding"
        bindingConfiguration="BasicHttpBinding_IGCIS" contract="WSGCIS.IGCIS"
        name="BasicHttpBinding_IGCIS"/>
    </client>
  </system.serviceModel>
</configuration>